<div *ngIf="!repos.length && term" class="loading-message">Loading...</div>
<div *ngIf="repos.length === 0 && term" class="loading-message">No results found.</div>
<div *ngFor="let repo of repos" class="repo-details">
  <h2><a href="{{ repo.html_url }}" target="_blank">{{ repo.full_name }}</a></h2>
  <p>{{ repo.description }}</p>
  <div class="repo-info">
    <div class="repo-owner">
      <img [src]="repo.owner.avatar_url" [alt]="repo.owner.login" width="50" height="50" />
      <a href="{{ repo.owner.html_url }}" target="_blank">{{ repo.owner.login }}</a>
    </div>
    <div class="repo-stats">
      <span>Stars: {{ repo.stargazers_count }}</span>
      <span>Forks: {{ repo.forks_count }}</span>
      <span>Open Issues: {{ repo.open_issues_count }}</span>
    </div>
    <div class="repo-language">
      <span>Language: {{ repo.language }}</span>
    </div>
    <div class="repo-topics">
      <span>Topics:</span>
      <ul>
        <li *ngFor="let topic of repo.topics">{{ topic }}</li>
      </ul>
    </div>
  </div>
</div>
